<div style="background-color: #FDFDFD; box-shadow: 5px 5px 5px rgba(0,0,0,.15); padding: 30px; margin: 20px; position: relative;">
    <div align="center" style="margin: 5px;">
        <img src="https://user-images.githubusercontent.com/9058629/39535448-8689b914-4df9-11e8-8211-b4f3453ba3e0.png" alt="Extinguish logo" style="width:10%">
    </div>
    <h1 style="color: #a772b2;">
        <%= @email.name.capitalize %> Said:
    </h1>
    <h2 style="color: #18191e;">
      <%= @email.message %>
    </h2>
</div>
<style>
    body {
        background: #E6E8E6;
        font-family: Helvetica;
    }
</style>
<div align="center" style="color: #8C8C8C;">© 2018 Extinguish all rights reserved.</div>