<div style="background-color: #FAFAFA; box-shadow: 5px 5px 5px rgba(0,0,0,.15); padding: 30px; margin: 20px; position: relative;">
    <div style="position: absolute; top:0; left:0; width: 0; height: 0; border: 20px solid #BCBEBC; border-top-color: #E6E8E6; Border-left-color: #E6E8E6;"></div>
    <h1 style="color: #FF6700;">
        <%= @email.name.capitalize %> Said:
    </h1>
    <h2 style="color: #8C8C8C;">
      <%= @email.message %>
    </h2>
</div>
<style>
    body {
        background: #E6E8E6;
        font-family: Helvetica;
    }
</style>
<div align="center" style="color: #8C8C8C;">© 2018 Extinguish all rights reserved.</div>